## 04_MYSQL(기본)
---
### SQL 고급 - 조인

#### 실습 문제 (p.2-4)
- sqldb 데이터베이스에서 다음 조건을 처리하세요. (p.2)
  ```sql
  > select * from buytbl b inner join usertbl u on b.userid = u.userid;
  ```
- 앞의 결과에서 userID가 'JYP'인 데이터만 출력하세요.
  ```sql
  > select * from buytbl b inner join usertbl u on b.userid = u.userid where b.userid = 'JYP'
  ```
- sqldb 데이터베이스에서 다음 조건을 처리하세요. (p.3)
  ```sql
  > select u.userid, u.name, b.prodname, u.addr, concat(u.mobile1, u.mobile2) as 연락처
  > from usertbl u left outer join buytbl b on u.userid = b.userid
  > order by u.userid;
  ```
- sqldb의 사용자를 모두 조회하되 전화가 없는 사람은 제외하고 출력하세요. (p.4)
  ```sql
  > select name, concat(mobile1, mobile2) as 전화번호 from usertbl where name not in (select name from usertbl where mobile1 is null);
  ```
- sqldb의 사용자를 모두 조회하되 전화가 없는 사람만 출력하세요.
  ```sql
  > select name, concat(mobile1, mobile2) as 전화번호 from usertbl where name in (select name from usertbl where mobile1 is null);
  ```